.markdown-body {
    padding-top: 20px;
    padding-bottom: 80px;
}

.toc {
    margin-bottom: 50px;
}

.toc-content {
    display: block;
}

#toc-btn {
    float: right;
    border: none;
    color: #909aa6;
    width: 60px;
    height: 35px;
    font-size: 30px;
    background-color: transparent;
}

#toc-btn:hover {
    background-color: #30363d;
    border-radius: 5px;
}

body h1,
body h2 {
    margin-top: 30px;
}
.card {
    margin-top: 50px;
    margin-bottom: 50px;
}
.card h1,
.card h2 {
    margin-top: 20px;
}

.multiline {
    margin: 0%;
    border-radius: 2px;
    padding-left: 1.5%;
    padding-top: 0.01em;
    padding-bottom: 0.01em;
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 2%;
}

.btn-copy {
    position: absolute;

    top: 0;
    right: 0;
    background-color: transparent;
    color: #a3aeba;
    border: none;
    border-radius: 6px;
    padding: 6px;
    margin-right: 10px;
    margin-top: 9px;
    font-size: 16px;
    cursor: pointer;
}

.btn-copy:hover {
    background-color: #30363d;
}

.copy-notification {
    display: none;
    position: absolute;
    background-color: #6e7681;
    color: white;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    top: 50%;

    font-size: 12px;
    top: 0;
    right: 42px;
    margin-right: 0px;
    margin-top: 11px;
    shape-rendering: crispEdges;
}

.copy-notification::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent #6e7681;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
}

.inline {
    font-family: monospace !important;

    border-radius: 5px;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.11%;
    padding-bottom: 0.18%;
    display: inline;
}

.front,
.back {
    padding-left: 6%;
}

.back {
    margin-bottom: 5%;
}

input[type="text"] {
    width: 190px;
    height: 30px;
    font-size: 17px;
}

.card-btn {
    padding: 18px;
    width: 200px;
    height: 60px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    margin-top: 10px;

    margin-bottom: 1%;
    border-radius: 10px;
}

.blockquote-div {
    margin-bottom: 50px;
    margin-left: 40px;
    margin-top: 20px;
}

.markdown-body blockquote {
    padding: 0 1em;
    margin: 0;
    color: #c6c9cd;
    border-left: 0.3em solid #696b6e;
}

.copy-icon {
    shape-rendering: crispEdges;
}

.content,
.multicontent,
.answer-content {
    display: none;
}

table {
    margin-bottom: 30px;
    margin-top: 30px;
}

.footnotes-div {
    margin-top: 60px;
    margin-bottom: 60px;
    color: #696b6e;
    font-size: 0.75em;
    padding-bottom: 20px;
}

.footnote {
    margin-top: 25px;
}

a {
    text-decoration: underline;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a,
.footnote-paragraph > a,
.toc-link {
    text-decoration: none;
}
