.markdown-body {
    padding-left: 8%;
    padding-right: 8%;
    font-size: 12.5px;
}


.markdown-body code, pre {
    font-family: 'Fira Code', 'Courier New', Courier, monospace !important;

}

p code {
   font-weight: 480;
}

.code-div {
    font-weight: 680;
}

.inline {
    overflow-wrap: anywhere; 
    word-wrap: normal;
}

code {
    min-width: 80%;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 34px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.4;
}

.markdown-body table tr {
    background-color: white !important;
    border-top: 1px solid rgba(0, 0, 0, 1);
}

.markdown-body table th,
.markdown-body table td {
    padding: 6px 13px;
    border: 1px solid rgba(0, 0, 0, 1);
}
.markdown-body table {
    border: 1px rgba(0, 0, 0, 1);
}

.markdown-body {
    padding-top: 0;
}


.newpage {
    page-break-after: always;
}

.katex .katex-mathml .mfrac {
    font-size: 1em;
}
.katex .katex-mathml .katex-ellipsis {
    font-size: 1em;
}